<div class="jumbotron">
    <h1>Blocitoff</h1>
    <p>Blocitoff is a self destructing to-do list!</p>
</div>
 
<div class="row">
    <div class="col-md-4">
        <h2>Completed Tasks</h2>
        <p>These are the tasks you have completed in the last 7 days.</p>       
    </div>
    <div class="col-md-4">
        <h2>ToDo</h2>
        <p>These are your tasks to complete over the next 7 days.</p>
    </div>
    <div class="col-md-4">
        <h2>Tasks Passed Due</h2>
        <p>These tasks where removed from the list.  If you didn't do it it the last 7 days you must not need it on the list!</p>
    </div>
</div>